<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Sails - Success</title>
    <link rel="stylesheet" href="styles/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <h1 id="message">User {{session.User.name}} created!</h1> 
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/validateForm.js"></script>
    <script>
      $(document).foundation();

    </script>
  </body>
</html>
